@media screen and (min-width: 992px){
    *{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        box-sizing: border-box;
    }
    
    #background{
        width: 100%;
    }
    
    #background .mobile{
        display: none;
    }
    
    #background .desktop{
        width: 100%;
        display: block;
        height: 700px;
        background-color: black;
    }
    
    /* ********************************* The Heading  */
    
    #background .desktop .headline{
        width: 90%;
        padding: 20px 0px;
        margin: 0px 5%;
        text-align: center;
        height: 80px;
        border-bottom: 1px dotted #808080;
    }
    
    #background .desktop .headline a{
        width: 10%;
        float: left;
        color: rgb(244, 127, 255);
        font-size: 35px;
        font-weight: 600;
        text-decoration: none;
    }
    
    #background .desktop .headline a:hover{
        text-decoration: underline;
    }
    
    #background .desktop .headline h1{
        width: 90%;
        float: left;
        color: aquamarine;
        font-size: 35px;
        font-weight: 600;
    }
    
    #background .desktop .nav{
        width: 20%;
        margin: 20px 80% 70px 0px;
        padding: 0px 0px 0px 20px;
        clear: both;
    }
    
    #background .desktop .nav #home{
        width: 25%;
        float: left;
    }
    
    #background .desktop .nav #home a{
        color: #ddd;
        font-size: 20px;
        text-decoration: none;
    }
    
    #background .desktop .nav #home a:hover{
        text-decoration: underline;
        color: aquamarine;
    }
    
    #background .desktop .nav #stroke{
        width: 5%;
        float: left;
        color: #ddd;
        font-size: 20px;
        transform: translateY(2px);
    }
    
    #background .desktop .nav #contact{
        width: 25%;
        float: left;
        color: #808080;
        font-size: 20px;
    }
    
    /* ********************************* The Contact section  */
    
    #background .desktop .contactBoard{
        width: 100%;
        height: 800px;
        clear: both;
        background-color: black;
    }
    
    #background .desktop .contactBoard .Row1{
        width: 70%;
        height: 500px;
        margin: 0px 10% 0px 20%;
    }
    
    /* *************************************************************** The column 1 ********** */
    
    #background .desktop .contactBoard .Row1 .column1{
        width: 15%;
        float: left;
    }
    
    #background .desktop .contactBoard .Row1 .column1 .subColumn1{
       width: 30%;
       float: left;
    }
    
    #background .desktop .contactBoard .Row1 .column1 .subColumn1 .imageRow1{
        width: 100%;
        height: 50px;
        padding-top: 10px;
    }
    
    #background .desktop .contactBoard .Row1 .column1 .subColumn1 .imageRow1 #starImage{
        width: 20px;
        height: 20px;
    }
    
    #background .desktop .contactBoard .Row1 .column1 .subColumn1 .imageRow2{
        width: 100%;
        height: 50px;
        margin-bottom: 50px;
        padding-top: 10px;
    }
    
    #background .desktop .contactBoard .Row1 .column1 .subColumn1 .imageRow2 #starImage{
        width: 20px;
        height: 20px;
    }
    #background .desktop .contactBoard .Row1 .column1 .subColumn1 .imageRow3{
        width: 100%;
        height: 50px;
        padding-top: 10px;
    }
    
    #background .desktop .contactBoard .Row1 .column1 .subColumn1 .imageRow3 #starImage{
        width: 20px;
        height: 20px;
    }
    
    /* *************************************************************** The column 2 ********** */
    
    #background .desktop .contactBoard .Row1 .column1 .subColumn2{
        width: 70%;
        float: left;
     }
    
     #background .desktop .contactBoard .Row1 .column1 .subColumn2 ul{
        width: 100%;
        height: 50px;
        color: #ddd;
        font-size: 18px;
        text-align: left;
        padding-top: 10px;
     }
    
     #background .desktop .contactBoard .Row1 .column2{
        width: 50%;
        float: left;
    }
    
    #background .desktop .contactBoard .Row1 .column2 .theInputBoard{
        width: 90%;
        margin: 0px 5%;
    }
    
    #background .desktop .contactBoard .Row1 .column2 .theInputBoard input{
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 16px;
    }
    
    #background .desktop .contactBoard .Row1 .column2 .theInputBoard textarea{
        border-radius: 10px;
        font-size: 16px;
        width: 100%;
    }
    
    #background .desktop .contactBoard .Row1 .column2 .theInputBoard button{
        border-radius: 10px;
        font-size: 16px;
        width: 120px;
        height: 40px;
        text-align: center;
        font-weight: 600;
        margin-top: 15px;
        cursor: pointer;
    }
    
    /* *************************************************************** The column 3 ********** */
    
    #background .desktop .contactBoard .Row1 .column3{
        width: 28%;
        height: 450px;
        float: left;
        margin-left: 2%;
        border-left: 1px dotted #808080;
        transform: translateY(-30px);
    }
    
    #background .desktop .contactBoard .Row1 .column3 .heading{
        height: 50px;
        width: 100%;
        color: rgb(101, 189, 160);
        text-align: center;
        font-size: 30px;
        padding-left: 20px;
    }
    
    #background .desktop .contactBoard .Row1 .column3 #statement{
        height: 20px;
        width: 100%;
        color: #999898;
        text-align: center;
        font-size: 16px;
        margin-bottom: 60px;
        padding-left: 20px;
    }
    
    #background .desktop .contactBoard .Row1 .column3 .myContacts{
        height: 120px;
        width: 100%;
        margin-top: 10px;
    }
    
    #background .desktop .contactBoard .Row1 .column3 .myContacts .contactList{
        height: 40px;
        width: 100%;
    }
    
    #background .desktop .contactBoard .Row1 .column3 .myContacts .contactList ul{
        width: 15%;
        float: left;
        padding-left: 10px;
    }
    
    #background .desktop .contactBoard .Row1 .column3 .myContacts .contactList ul #phoneImage{
        width: 20px;
        height: 20px;    
    }
    
    #background .desktop .contactBoard .Row1 .column3 .myContacts .contactList ul #emailImage{
        width: 18px;
        height: 20px;    
    }
    
    #background .desktop .contactBoard .Row1 .column3 .myContacts .contactList ul #homeImage{
        width: 20px;
        height: 20px;    
    }
    
    #background .desktop .contactBoard .Row1 .column3 .myContacts .contactList p{
        width: 85%;
        float: left;
        color: #999898;
        font-size: 16px;
        text-align: center;
    }
    
    #background .desktop .contactBoard .Row1 .column3 .socialMedia{
        width: 100%;
        margin: 30px 0px 0px 20px;
     }
     
     #background .desktop .contactBoard .Row1 .column3 .socialMedia a{
        width: 100%;
     }
     
     #background .desktop .contactBoard .Row1 .column3 .socialMedia a ul{
        height: 25px;
        width: 12%;
        float: left;
        margin: 0px 4%;
        text-align: center;
     }
    
     #background .desktop .contactBoard .Row1 .column3 .socialMedia a ul #socialImage{
        width: 20px;
        height: 20px;
     }
    
    /* ************************************************** The footer ****************************8 */
    
     footer{
        width: 100%;
        height: 400px;
        background-color: black;
        position: relative;
        clear: both;
     }
     
     footer .desktop .Row1{
        width: 100%;
        height: 330px;
        padding: 20px 20px 0px 20px; 
        background-color: #080808;
     }
     
     footer .desktop .Row1 .subColumn1{
        width: 25%;
        float: left;      
     }
     
     footer .desktop .Row1 .subColumn1 h2{
       height: 50px;
       width: 100%;
       font-size: 18px;
       font-weight: 800;
     }
     
     footer .desktop .Row1 .subColumn1 h2 #about{
       width: 50%;
       float: left;
       color: #dadada;
       text-align: right;
       padding-right: 10px;
     }
     
     footer .desktop .Row1 .subColumn1 h2 #DIV{
       width: 50%;
       float: left;
       color: rgb(146, 145, 145);
     }
     
     footer .desktop .Row1 .subColumn1 .theAbout{
       padding: 10px;
     }
    
     footer .desktop .Row1 .subColumn1 .theAbout p{
       color: #808080;
       font-size: 20px;
       padding-bottom: 20px;
     }
    
     footer .desktop .Row1 .subColumn1 .theAbout ul{
        width: 100%;
        height: 40px;
       background-color: #c6c6c6;
       text-align: center;
       padding-top: 10px;
       border-radius: 3px;
       cursor: pointer;
     }
    
     footer .desktop .Row1 .subColumn1 .theAbout ul a{
       color: black;
       font-size: 16px;
       text-decoration: none;
       text-transform: uppercase;
     }
    
     footer .desktop .Row1 .subColumn2{
        width: 25%;
        float: left;      
     }
     
     footer .desktop .Row1 .subColumn2 h2{
       height: 50px;
       width: 100%;
       font-size: 18px;
       font-weight: 800;
       color: #dadada;
       text-align: center;
     }
    
     footer .desktop .Row1 .subColumn2 .category{
        width: 100%;
        padding: 10px;  
     }
    
     footer .Row1 .subColumn2 .category ul{
        text-align: center;
        margin-bottom: 5px;
     }
     
     footer .desktop .Row1 .subColumn2 .category ul a{
        text-decoration: none;
        color: #808080;
     }
    
     footer .desktop .Row1 .subColumn2 .category ul a:hover{
        text-decoration: underline;
     }
    
     footer .desktop .Row1 .subColumn3{
        width: 25%;
        float: left;      
     }
    
     footer .desktop .Row1 .subColumn3 h2{
       height: 50px;
       width: 100%;
       font-size: 18px;
       font-weight: 800;
       color: #dadada;
       text-align: left;
     }
     
     footer .desktop .Row1 .subColumn3 .tool{
        padding: 10px;     
     }
    
     footer .desktop .Row1 .subColumn3 .tool ul{
        color: #808080;
        text-align: left;
     }
    
     footer .desktop .Row1 .subColumn4{
        width: 25%;
        float: left;      
     }
     
     footer .desktop .Row1 .subColumn4 h2{
       height: 50px;
       width: 100%;
       font-size: 18px;
       font-weight: 800;
       color: #dadada;
       text-align: left;
     }
    
     footer .desktop .Row1 .subColumn4 .contact{
        padding: 10px;      
     }
     
     footer .desktop .Row1 .subColumn4 .contact ul{
        text-decoration: none;
        color: #808080;
        padding-bottom: 10px;
     }
    
     footer .desktop .Row1 .subColumn4 .socialMedia{
        width: 100%;
     }
     
     footer .desktop .Row1 .subColumn4 .socialMedia a{
        width: 20%;
        float: left;
     }
     
     footer .desktop .Row1 .subColumn4 .socialMedia a ul{
        height: 50px;
     }
    
     footer .desktop .Row1 .subColumn4 .socialMedia a ul #socialImage{
        width: 50%;
        margin: 5px 25%;
        height: 32px;
     }
    
     footer .desktop .Row2{
        width: 100%;
        height: 60px;
        padding: 15px 0px 0px 0px;
     }
     
     footer .desktop .Row2 .column1{
        width: 50%;
       float: left;
     }
     
     footer .desktop .Row2 .column1 #copyright{
        width: 12%;
       float: left;
       margin-left: 6%;
       color: #808080;
     }
     
     footer .desktop .Row2 .column1 #div{
        width: 7%;
       float: left;
     }
     
     footer .desktop .Row2 .column1 #div a{
       color: #3de9e0;
       text-decoration: none;
     }
     
     footer .desktop .Row2 .column1 #reserve{
        width: 32%;
       float: left;
       margin-right: 43%;
       color: #808080;
     }
     
     footer .desktop .Row2 .column2{
        width: 50%;
       float: left;
     }
     
     footer .desktop .Row2 .column2 #designed{
        width: 17%;
       float: left;
       margin-left: 52%;
       color: #808080;
     }
    
     footer .desktop .Row2 .column2 #author{
        width: 13%;
       float: left;
     }
    
     footer .desktop .Row2 .column2 #author a{
       color: #3de9e0;
       text-decoration: none;
     }
    
     footer .desktop .Row2 .column2 #filterBoard{
        width: 12%;
        height: 40px;
       float: left;
       background-color: #080808;
       padding-top: 10px;
       margin-right: 6%;
     }
    
     footer .desktop .Row2 .column2 #filterBoard #filter{
        width: 20%;
        margin: 0% 40%;
        height: 20px;
        transform: rotate(-90deg);
     }
    
     footer .mobile{
        display: none;
     }
    
    }