@media screen and (min-width: 50px){
    *{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        box-sizing: border-box;
    }

#background{
    width: 100%;
    height: 1650px;
    background-color: black;
}

#background .desktop{
    display: none;
}

#background .mobile{    
    display: block;
}

#background .mobile nav{    
    width: 100%;
    background-color: transparent;
    position: fixed;
}
  
  #background .mobile .menuIcon{    
    width: 50%;
    padding: 0px 0px 0px 5px;   
  }
  
  #background .mobile nav .menuIcon .fa-times, #background .mobile .menuIcon .fa-bars{
    cursor: pointer;
    font-size: 25px;
    color: white;
  }
  
  #background .mobile nav .navbarSubMob{
   display: none;
   width: 50%;
   background-color: #808080;
  }
  
  #background .mobile nav .navbarSubMob ul{
   height: 40px;
   padding: 10px 30% 0px 30%;
  }
  
  #background .mobile nav .navbarSubMob ul:hover{
   background-color: rgb(93, 93, 95);
  }
  
  #background .mobile nav .navbarSubMob #home{
   background-color: rgb(93, 93, 95);
  }
  
  #background .mobile nav .navbarSubMob #home a{
    color: rgb(29, 204, 160);
   }
  
  #background .mobile nav .navbarSubMob ul a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20%; 
  }
  
  #background .mobile nav .navbarSubMob ul:hover a{
   color: rgb(29, 204, 160);
   text-decoration: none;
  }

/* ************************************************The resume board starts here *********************/

#background .mobile .resumeBoard{
    background-color: black;
    width: 90%;
    margin: 0px 5%;
    height: 1400px;
}

/* ************************************************ Resume board Row 1 *********************/

#background .mobile .resumeBoard .Row1{
    width: 100%;
    height: 530px;
    padding: 20px;
    background-color: #121212;
}

#background .mobile .resumeBoard .Row1 .column1{
    width: 100%;
}

#background .mobile .resumeBoard .Row1 .column1 #imageBoard{
    width: 100%;
    height: 170px;
    margin: 0px 0% 0px 0%;
    padding-left: 20px;
}

#background .mobile .resumeBoard .Row1 .column1 #imageBoard #DIVImage{
    width: 60%;
    margin: 0px 20%;
    height: 160px;
}

#background .mobile .resumeBoard .Row1 .column1 #imageText{
    width: 70%;
    margin: 0px 12% 0px 18%;
    height: 30px;
    border-radius: 20px;
    background-color: gold;
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    padding-top: 5px;
}

#background .mobile .resumeBoard .Row1 #profession{
    color: #3bf8ef;
    font-size: 16px;
    width: 100%;
    height: 20px;
    padding-left: 5px;
    margin-top: 10px;
    clear: both;
}

#background .mobile .resumeBoard .Row1 #aboutMyself{
    color: #c6c6c6;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    height: 140px;
}

/* ******************************** Row 2 starts here ***************************** */

#background .mobile .resumeBoard .Row2{
    width: 100%;
    height: 280px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #121212;
}

#background .mobile .resumeBoard .Row2 .column1{
    width: 90%;
    margin: 0px 5%;
}


/* ****************************************************************** The contact board******************************** */

#background .mobile .resumeBoard .Row2 .column1 .contacts{
    width: 100%;
    height: 130px;
    padding-left: 10px;
}

#background .mobile .resumeBoard .Row2 .column1 .contacts .colum1{
    width: 30%;
    float: left;
    color: #c6c6c6;
}
 
#background .mobile .resumeBoard .Row2 .column1 .contacts .colum1 ul{
    height: 25px;
}

#background .mobile .resumeBoard .Row2 .column1 .contacts .colum2{
    width: 70%;
    float: left;
    color: #c6c6c6;
}
 
#background .mobile .resumeBoard .Row2 .column1 .contacts .colum2 ul{
    height: 25px;
}

#background .mobile .resumeBoard .Row2 .column1 .socialMedia{
    width: 70%;
    margin: 30px 25% 0px 5%;
 }
 
 #background .mobile .resumeBoard .Row2 .column1 .socialMedia a{
    width: 100%;
 }
 
 #background .mobile .resumeBoard .Row2 .column1 .socialMedia a ul{
    height: 25px;
    width: 12%;
    float: left;
    margin: 0px 4%;
    text-align: center;
 }

 #background .mobile .resumeBoard .Row2 .column1 .socialMedia a ul #socialImage{
    width: 20px;
    height: 20px;
 }

/* ************************************************ Resume board Row 3 *********************/

#background .mobile .resumeBoard .Row3{
    width: 100%;
    margin: 40px 0% 0px 0%;
    height: 700px;
}

#background .mobile .resumeBoard .Row3 .skills{
    width: 100%;
}

#background .mobile .resumeBoard .Row3 .skills .heading{
    width: 30%;
    margin: 0px 35% 10px 35%;
    background-color: #121212;
    border-radius: 20px;
    height: 40px;
    padding-top: 12px;
}

#background .mobile .resumeBoard .Row3 .skills .heading #skillheading{
    text-align: center;
    color: #c6c6c6;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

#background .mobile .resumeBoard .Row3 .skills .types{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1{
    width: 100%;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 #webHeading{
    color: 100%;
    text-align: center;
    color: #c6c6c6;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfWebSkills{
    width: 100%;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfWebSkills #lang{
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 10% 0px 5%;
    transform: translateY(10px);
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfWebSkills .phpBoard{
    width: 95%;
    margin: 0px 5% 0px 0%;
    background-color: #767676;
    height: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfWebSkills .phpBoard #css{
    width: 90%;
    float: left;
    height: 15px;
    background-color: gold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: blue;
    padding-left: 75%;
    font-weight: 700;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfWebSkills .phpBoard #jquery{
    width: 80%;
    float: left;
    height: 15px;
    background-color: gold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 2px;
    color: blue;
    padding-left: 65%;
    font-weight: 700;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfWebSkills .phpBoard #mysql{
    width: 80%;
    float: left;
    height: 15px;
    background-color: gold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 2px;
    color: blue;
    padding-left: 65%;
    font-weight: 700;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfWebSkills .phpBoard #js{
    width: 70%;
    float: left;
    height: 15px;
    background-color: gold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 2px;
    color: blue;
    padding-left: 55%;
    font-weight: 700;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfWebSkills .phpBoard #php{
    width: 60%;
    float: left;
    height: 15px;
    background-color: gold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 2px;
    color: blue;
    padding-left: 45%;
    font-weight: 700;
}


#background .mobile .resumeBoard .Row3 .skills .types .column1 #pptHeading{
    color: 100%;
    text-align: center;
    color: #c6c6c6;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 40px 0px 20px 0px;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfPPTSkills{
    width: 100%;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfPPTSkills #lang{
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 10% 0px 5%;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfPPTSkills .phpBoard{
    width: 95%;
    margin: 0px 5% 0px 0%;
    background-color: #767676;
    height: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-10px);
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfPPTSkills .phpBoard #ppt{
    width: 90%;
    float: left;
    height: 15px;
    background-color: gold;
    margin-right: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 2px;
    color: blue;
    padding-left: 75%;
    font-weight: 700;
}

#background .mobile .resumeBoard .Row3 .skills .types .column1 .listOfPPTSkills .phpBoard #psd{
    width: 50%;
    float: left;
    height: 15px;
    background-color: gold;
    margin-right: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 2px;
    color: blue;
    padding-left: 35%;
    font-weight: 700;
}


/* *************************************The footer********************* */

footer .desktop{
    display: none;
}

footer .mobile{
    display: block;
}

footer .mobile .Row1{
    width: 100%;
    height: 160px;
    background-color: black;
}

footer .mobile .Row1 .subColumn1{
    width: 50%;
    float: left;
}

footer .mobile .Row1 .subColumn1 h2{
    width: 60%;
    height: 20px;
    margin: 0px 20% 10px 20%;
    font-size: 12px;
}

footer .mobile .Row1 .subColumn1 h2 #about{
    width: 50%;
    float: left;
    height: 20px;
    color: white;
    text-align: center;
}

footer .mobile .Row1 .subColumn1 h2 #DIV{
    width: 50%;
    float: left;
    height: 20px;
    color: aquamarine;
    margin-left: -10px;
}

footer .mobile .Row1 .subColumn1 .theAbout{
    width: 90%;
    margin: 0px 5%;
}

footer .mobile .Row1 .subColumn1 .theAbout p{
    color: #808080;
   font-size: 14px;
}

footer .mobile .Row1 .subColumn1 .theAbout ul{
   width: 80%;
   height: 30px;
   margin: 10px 17% 0px 3%;
   padding-top: 5px;
   background-color: white;
   border-radius: 3px;
   text-align: center;
}

footer .mobile .Row1 .subColumn1 .theAbout ul a{
   color: black;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 800;
}

footer .mobile .Row1 .subColumn2{
    width: 50%;
    float: left;
}

footer .mobile .Row1 .subColumn2 h2{
    width: 60%;
    height: 20px;
    margin: 0px 20% 10px 20%;
    color: white;
    font-size: 12px;
    text-align: center;
}

footer .mobile .Row1 .subColumn2 .contact{
    width: 95%;
    margin: 0px 0px 10px 5%;
    color: #808080;
    font-size: 14px;
}

footer .mobile .Row1 .subColumn2 .contact ul{
    margin-bottom: 7px;
}

footer .mobile .Row1 .subColumn2 .socialMedia{
    width: 80%;
    margin: 0px 10%;
}

footer .mobile .Row1 .subColumn2 .socialMedia ul{
    width: 16%;
    margin: 0px 2%;
    float: left;
    height: 20px;
}

footer .mobile .Row1 .subColumn2 .socialMedia ul #socialImage{
    width: 20px;
    height: 20px;
}

footer .mobile .Row2{
    width: 100%;
    height: 200px;
    padding-top: 40px;
    background-color: black;
}

footer .mobile .Row2 .subColumn1{
    width: 50%;
    float: left;
}

footer .mobile .Row2 .subColumn1 h2{
    width: 100%;
    height: 20px;
    margin: 0px 0% 10px 0%;
    color: white;
    font-size: 12px;
    padding-left: 40px;
}

footer .mobile .Row2 .subColumn1 .category{
    width: 100%;
}

footer .mobile .Row2 .subColumn1 .category ul{
    padding: 0px 0px 5px 40px;
}

footer .mobile .Row2 .subColumn1 .category ul a{
    color: #808080;
    text-decoration: none;
    font-size: 14px;
}

footer .mobile .Row2 .subColumn1 .category ul a:hover{
    text-decoration: underline;
}

footer .mobile .Row2 .subColumn2{
    width: 50%;
    float: left;
}

footer .mobile .Row2 .subColumn2 h2{
    width: 60%;
    height: 20px;
    margin: 0px 20% 10px 20%;
    color: white;
    font-size: 16px;
    text-align: center;
}

footer .mobile .Row2 .subColumn2 .tool{
    width: 95%;
    margin: 0px 0px 10px 0%;
    color: #808080;
    font-size: 14px;
    text-align: center;
}

footer .mobile .Row2 .subColumn2 .tool ul{
    margin-bottom: 3px;
}

footer .mobile .Row3{
    width: 100%;
    height: 40px;
    background-color: black;
    font-size: 11px;
}

footer .mobile .Row3 .column1{
    width: 50%;
    float: left;
    padding-top: 5px;
}

footer .mobile .Row3 .column1 #copyright{
    width: 27%;
    float: left;
    color: #808080;
    padding-left: 8%;
}

footer .mobile .Row3 .column1 #div{
    width: 13%;
    float: left;
}

footer .mobile .Row3 .column1 #div a{
   color: aquamarine;
   text-decoration: none;
   font-size: 12px;
}

footer .mobile .Row3 .column1 #div a:hover{
   text-decoration: underline;
}

footer .mobile .Row3 .column1 #reserve{
    width: 54%;
    float: left;
    color: #808080;
    padding-left: 4px;
    margin-right: 6%;
}

footer .mobile .Row3 .column2{
    width: 50%;
    float: left;
}

footer .mobile .Row3 .column2 #designed{
    width: 42%;
    float: left;
    color: #808080;
    padding: 5px 0px 0px 8%;
}

footer .mobile .Row3 .column2 #author{
    width: 6%;
    float: left;
    padding-top: 5px;
}

footer .mobile .Row3 .column2 #author a{
   color: aquamarine;
   text-decoration: none;
   font-size: 12px;
}

footer .mobile .Row3 .column2 #author a:hover{
   text-decoration: underline;
}

footer .mobile .Row3 .column2 #filterBoard{
    width: 24%;
    float: left;
    color: #808080;
    margin: 0px 10%;
    background-color: rgb(29, 29, 29);
}

footer .mobile .Row3 .column2 #filterBoard #filter{
    width: 20%;
      margin: 0% 40%;
      height: 20px;
      transform: rotate(-90deg);
}

}