@media screen and (min-width: 992px)
{ 
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}
  
  #backgroundSection{
    width: 100%;
    height: 500px;
  }
  
  #backgroundSection .backgroundPicture{
    height: 500px;
  }
  
  #backgroundSection .backgroundPicture .backgroundImage{
    width: 100%;
  }
  
  #backgroundSection .backgroundPicture .backgroundImage #imageMain{
    width: 100%;
    height: 500px;
  }

  /* ************************************************The nav section **********************8*/
  #backgroundSection .navbar-mob{
    display: none;
  }
  
  #backgroundSection .navbar-desk{
    height: 50px;
    width: 100%;
    background-color: black;
  }
  
  #backgroundSection .navbar-desk #navbarSub{
    width: 40%;
    margin: 0px 30% 0px 30%;
  }

  #backgroundSection .navbar-desk #navbarSub div{
    width: 25%;
    float: left;
    height: 50px;
    text-align: center;
    
  }

  #backgroundSection .navbar-desk #navbarSub div:hover{    
    background-color: rgb(66, 65, 65);    
  }

  #backgroundSection .navbar-desk #navbarSub div:hover a{    
    color: aqua;
    text-decoration: underline;
  }

  #backgroundSection .navbar-desk #navbarSub div a{
    font-size: 20px;
    text-decoration: none;
    display: block;
    color: rgb(124, 124, 231);
    margin: 10px 0px;
  }

  #backgroundSection .navbar-desk #navbarSub #designs .dropDown{
    display: none;
  }

  #backgroundSection .navbar-desk #navbarSub #designs:hover .dropDown{
    width: 120%;
    height: 100px;
    background-color: rgb(34, 34, 34);
    display: block;
    left: -30px;
  }

  #backgroundSection .navbar-desk #navbarSub #designs .dropDown a div{
    width: 100%;
    height: 30px;
    padding-top: 7px;
  }

  #backgroundSection .navbar-desk #navbarSub #designs .dropDown a div ul{
    font-size: 18px;
    font-weight: bold;
    color: aqua;
  }

  #backgroundSection .navbar-desk #navbarSub #designs .dropDown a .web:hover{
    background-color: rgb(71, 71, 71);
  }

  #backgroundSection .navbar-desk #navbarSub #designs .dropDown a .blog:hover{
    background-color: rgb(71, 71, 71);
  }

  #backgroundSection .navbar-desk #navbarSub #designs .dropDown a .ppt:hover{
    background-color: rgb(71, 71, 71);
  }

/* ************************************************The designs section **********************8*/
  .officeSection{
      width: 100%;
      height: 400px;
      clear: both;
      padding-top: 100px;
      background-color: black;
  }

  .officeSection .mobile{
      display: none;
  }

  .officeSection .desktop{
      width: 100%;
      height: 250px;
  }

  .officeSection .desktop .Row1{
      width: 90%;
      margin: 0px 5%;
  }

  .officeSection .desktop .Row1 .website{
        width: 31%;
        float: left;
        height: 250px;
        background-color: rgb(46, 46, 46);
        transition: 0.5s;
  }

  .officeSection .desktop .Row1 .website:hover{
       transform: translateY(-20px);
       transition: 0.5s;
  }

  .officeSection .desktop .Row1 .website .webBoard{
        width: 86%;
        margin: 20px 7%;
  }

  .officeSection .desktop .Row1 .website .webBoard #websiteImage{
        width: 100%;
        height: 180px;
        transition: 0.5s
  }

  .officeSection .desktop .Row1 .website:hover .webBoard #websiteImage{
       transform: scale(1.1);
       transition: 0.5s
  }

.officeSection .desktop .Row1 .website a{
    text-decoration: none;
}

.officeSection .desktop .Row1 .website a .webBoard h1{
        width: 100%;
        height: 60px;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
}

.officeSection .desktop .Row1 .blog{
    width: 31%;
    float: left;
    margin-left: 3.5%;
    height: 250px;
    background-color: rgb(46, 46, 46);
    transition: 0.5s;
}

.officeSection .desktop .Row1 .blog:hover{
   transform: translateY(-20px);
   transition: 0.5s;
}

.officeSection .desktop .Row1 .blog .blogBoard{
    width: 86%;
    margin: 20px 7%;
}

.officeSection .desktop .Row1 .blog .blogBoard #blogImage{
    width: 100%;
    height: 180px;
    transition: 0.5s
}

.officeSection .desktop .Row1 .blog:hover .blogBoard #blogImage{
  transform: scale(1.1);
  transition: 0.5s
}

.officeSection .desktop .Row1 .blog a{
    text-decoration: none;
}

.officeSection .desktop .Row1 .blog .blogBoard h1{
    width: 100%;
    height: 60px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.officeSection .desktop .Row1 .presentation{
    width: 31%;
    float: left;
    margin-left: 3.5%;
    height: 250px;
    background-color: rgb(46, 46, 46);
    transition: 0.5s;
}

.officeSection .desktop .Row1 .presentation:hover{
   transform: translateY(-20px);
   transition: 0.5s;
}

.officeSection .desktop .Row1 .presentation .presentationBoard{
    width: 86%;
    margin: 20px 7%;
}

.officeSection .desktop .Row1 .presentation .presentationBoard #presentationImage{
    width: 100%;
    height: 180px;
    transition: 0.5s
}

.officeSection .desktop .Row1 .presentation:hover .presentationBoard #presentationImage{
  transform: scale(1.1);
  transition: 0.5s
}

.officeSection .desktop .Row1 .presentation a{
    text-decoration: none;
}

.officeSection .desktop .Row1 .presentation .presentationBoard h1{
    width: 100%;
    height: 60px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}


/* ************************************************The Some designs section **********************8*/
.someDesignsSection{
    width: 100%;
    height: 1300px;
    background-color: black;
    padding-top: 30px;
}

.someDesignsSection .mobile{
    display: none;
}

.someDesignsSection .desktop{
    width: 100%;
    height: 1200px;
}

/* ************************************************The Some designs the web design **********************8*/

.someDesignsSection .desktop .myWebDesignsBoard{
   width: 96%;
   height: 500px;
   margin: 0px 2% 20px 2%;
   clear: both;
}

.someDesignsSection .desktop .myWebDesignsBoard h3{
   width: 100%;
  height: 40px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns{
   width: 100%;
   height: 300px;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column1{
   width: 33.33%;
   float: left;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column1 .imageBoard{
   width: 80%;
   margin: 0px 10%;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column1 .imageBoard #web1{
   width: 100%;
   height: 280px;
   border-radius: 50%;
   transition: 0.5s;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column1 .imageBoard #web1:hover{
   transform: scale(1.05);
   transition: 0.5s;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column2{
   width: 33.33%;
   float: left;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column2 .imageBoard{
   width: 80%;
   margin: 0px 10%;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column2 .imageBoard #web2{
   width: 100%;
   height: 280px;
   border-radius: 50%;
   transition: 0.5s;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column2 .imageBoard #web2:hover{
   transform: scale(1.05);
   transition: 0.5s;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column3{
   width: 33.33%;
   float: left;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column3 .imageBoard{
   width: 80%;
   margin: 0px 10%;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column3 .imageBoard #web3{
   width: 100%;
   height: 280px;
   border-radius: 50%;
   transition: 0.5s;
}

.someDesignsSection .desktop .myWebDesignsBoard .myWebDesigns .column3 .imageBoard #web3:hover{
   transform: scale(1.05);
   transition: 0.5s;
}

/* ************************************************The Some designs section the ppt design **********************8*/

.someDesignsSection .desktop .myPPTDesignsBoard{
    width: 94%;
    height: 800px;
    margin: 0px 3% 20px 3%;
    clear: both;
}

.someDesignsSection .desktop .myPPTDesignsBoard h3{
  width: 100%;
  height: 40px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame{
    width: 100%;
    height: 600px;
    border: 60px solid #1c1c1c;
    padding-top: 20px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns{
    width: 90%;
    height: 350px;
    margin: 20px 5%;
}

  /* ************************************************The Some designs section column1 **********************8*/

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1{
    width: 30%;
    float: left;
    background-color: white;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace{
     border: 1px rgb(202, 196, 196) solid;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig #Image #List-of-labels{
     width: 100%;
     height: 200px;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1{
     height: 120px;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 .personSpace{
     width: 100%;
     height: 30px;
     margin: 2px 0px 2px 3px;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 .personSpace #person{
     width: 11%;
     float: left;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 .personSpace #person #DIV{
     width: 100%;
     height: 30px;
     border-radius: 50%;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 .personSpace #personName{
     width: 87%;
     float: left;
     font-size: 11px;
     padding-left: 10px;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 .personSpace #personName #DIV{
     padding-left: 10px;
     color: black;
     text-decoration: none;
 }

 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 .personSpace #personName #DIV:hover{
     text-decoration: underline;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 .personSpace #personName p{
     color: rgb(255, 17, 0);
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 #text{
     width: 100%;
     height: 70px;
     font-size: 18px;
     padding: 7px 10px 3px 10px;	
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 #text a{
     font-size: 18px;
     padding: 10px 10px 10px 10px;
     color: black;
     text-decoration: none;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .textSpace1 #text a:hover{
     color: #358f1a;
     text-decoration: underline;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .statusBar{
     width: 100%;
     height: 40px;
     border-top: 0.5px rgb(202, 196, 196) solid;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .statusBar .preview{
     width: 30%;
     float: left;
     padding: 10px 0px 0px 10px;
     color: black;
     cursor: pointer;
 }
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .statusBar .preview a{
     text-decoration: none;
     cursor: pointer;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .statusBar #loveLogo{
     width: 10%;
     float: left;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .statusBar #loveLogo #love{
     width: 100%;
     height: 30px;
     padding: 15px 0px 0px 5px;
 }
 
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column1 .gigSpace .gig .statusBar #price{
     width: 55%;
     float: left;
     padding: 10px 3px 10px 20px;
     font-size: 16px;
 }

 /* ************************************************The Some designs section column2 **********************8*/
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2{
  width: 30%;
  float: left;
  background-color: white;
  margin: 0px 0% 0px 5%;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace{
   border: 1px rgb(202, 196, 196) solid;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig #Image #Process-analysis{
   width: 100%;
   height: 200px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1{
   height: 120px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 .personSpace{
   width: 100%;
   height: 30px;
   margin: 2px 0px 2px 3px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 .personSpace #person{
   width: 11%;
   float: left;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 .personSpace #person #DIV{
   width: 100%;
   height: 30px;
   border-radius: 50%;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 .personSpace #personName{
   width: 87%;
   float: left;
   font-size: 11px;
   padding-left: 10px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 .personSpace #personName #DIV{
   padding-left: 10px;
   color: black;
   text-decoration: none;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 .personSpace #personName #DIV:hover{
   text-decoration: underline;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 .personSpace #personName p{
   color: rgb(255, 17, 0);
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 #text{
   width: 100%;
   height: 70px;
   font-size: 18px;
   padding: 7px 10px 3px 10px;	
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 #text a{
   font-size: 18px;
   padding: 10px 10px 10px 10px;
   color: black;
   text-decoration: none;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .textSpace1 #text a:hover{
   color: #358f1a;
   text-decoration: underline;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .statusBar{
   width: 100%;
   height: 40px;
   border-top: 0.5px rgb(202, 196, 196) solid;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .statusBar .preview{
   width: 30%;
   float: left;
   padding: 10px 0px 0px 10px;
   color: black;
   cursor: pointer;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .statusBar .preview a{
   text-decoration: none;
   cursor: pointer;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .statusBar #loveLogo{
   width: 10%;
   float: left;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .statusBar #loveLogo #love{
   width: 100%;
   height: 30px;
   padding: 15px 0px 0px 5px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column2 .gigSpace .gig .statusBar #price{
   width: 55%;
   float: left;
   padding: 10px 3px 10px 20px;
   font-size: 16px;
}

 /* ************************************************The Some designs section column3 **********************8*/
 .someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3{
  width: 30%;
  float: left;
  background-color: white;
  margin: 0px 0% 0px 5%;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace{
   border: 1px rgb(202, 196, 196) solid;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig #Image #Perfumes{
   width: 100%;
   height: 200px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1{
   height: 120px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 .personSpace{
   width: 100%;
   height: 30px;
   margin: 2px 0px 2px 3px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 .personSpace #person{
   width: 11%;
   float: left;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 .personSpace #person #DIV{
   width: 100%;
   height: 30px;
   border-radius: 50%;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 .personSpace #personName{
   width: 87%;
   float: left;
   font-size: 11px;
   padding-left: 10px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 .personSpace #personName #DIV{
   padding-left: 10px;
   color: black;
   text-decoration: none;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 .personSpace #personName #DIV:hover{
   text-decoration: underline;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 .personSpace #personName p{
   color: rgb(255, 17, 0);
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 #text{
   width: 100%;
   height: 70px;
   font-size: 18px;
   padding: 7px 10px 3px 10px;	
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 #text a{
   font-size: 18px;
   padding: 10px 10px 10px 10px;
   color: black;
   text-decoration: none;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .textSpace1 #text a:hover{
   color: #358f1a;
   text-decoration: underline;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .statusBar{
   width: 100%;
   height: 40px;
   border-top: 0.5px rgb(202, 196, 196) solid;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .statusBar .preview{
   width: 30%;
   float: left;
   padding: 10px 0px 0px 10px;
   color: black;
   cursor: pointer;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .statusBar .preview a{
   text-decoration: none;
   cursor: pointer;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .statusBar #loveLogo{
   width: 10%;
   float: left;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .statusBar #loveLogo #love{
   width: 100%;
   height: 30px;
   padding: 15px 0px 0px 5px;
}

.someDesignsSection .desktop .myPPTDesignsBoard .frame .myPPTDesigns .column3 .gigSpace .gig .statusBar #price{
   width: 55%;
   float: left;
   padding: 10px 3px 10px 20px;
   font-size: 16px;
}

/* **********************************************THE FOOTER******************************************* */
footer{
   width: 100%;
   height: 400px;
   background-color: black;
   position: relative;
   clear: both;
}

footer .desktop .Row1{
   width: 100%;
   height: 330px;
   padding: 20px 20px 0px 20px; 
   background-color: #080808;
}

footer .desktop .Row1 .subColumn1{
   width: 25%;
   float: left;      
}

footer .desktop .Row1 .subColumn1 h2{
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 800;
}

footer .desktop .Row1 .subColumn1 h2 #about{
  width: 50%;
  float: left;
  color: #dadada;
  text-align: right;
  padding-right: 10px;
}

footer .desktop .Row1 .subColumn1 h2 #DIV{
  width: 50%;
  float: left;
  color: rgb(146, 145, 145);
}

footer .desktop .Row1 .subColumn1 .theAbout{
  padding: 10px;
}

footer .desktop .Row1 .subColumn1 .theAbout p{
  color: #808080;
  font-size: 20px;
  padding-bottom: 20px;
}

footer .desktop .Row1 .subColumn1 .theAbout ul{
   width: 100%;
   height: 40px;
  background-color: #c6c6c6;
  text-align: center;
  padding-top: 10px;
  border-radius: 3px;
  cursor: pointer;
}

footer .desktop .Row1 .subColumn1 .theAbout ul a{
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

footer .desktop .Row1 .subColumn2{
   width: 25%;
   float: left;      
}

footer .desktop .Row1 .subColumn2 h2{
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 800;
  color: #dadada;
  text-align: center;
}

footer .desktop .Row1 .subColumn2 .category{
   width: 100%;
   padding: 10px;  
}

footer .Row1 .subColumn2 .category ul{
   text-align: center;
   margin-bottom: 5px;
}

footer .desktop .Row1 .subColumn2 .category ul a{
   text-decoration: none;
   color: #808080;
}

footer .desktop .Row1 .subColumn2 .category ul a:hover{
   text-decoration: underline;
}

footer .desktop .Row1 .subColumn3{
   width: 25%;
   float: left;      
}

footer .desktop .Row1 .subColumn3 h2{
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 800;
  color: #dadada;
  text-align: left;
}

footer .desktop .Row1 .subColumn3 .tool{
   padding: 10px;     
}

footer .desktop .Row1 .subColumn3 .tool ul{
   color: #808080;
   text-align: left;
}

footer .desktop .Row1 .subColumn4{
   width: 25%;
   float: left;      
}

footer .desktop .Row1 .subColumn4 h2{
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 800;
  color: #dadada;
  text-align: left;
}

footer .desktop .Row1 .subColumn4 .contact{
   padding: 10px;      
}

footer .desktop .Row1 .subColumn4 .contact ul{
   text-decoration: none;
   color: #808080;
   padding-bottom: 10px;
}

footer .desktop .Row1 .subColumn4 .socialMedia{
   width: 100%;
}

footer .desktop .Row1 .subColumn4 .socialMedia a{
   width: 20%;
   float: left;
}

footer .desktop .Row1 .subColumn4 .socialMedia a ul{
   height: 50px;
}

footer .desktop .Row1 .subColumn4 .socialMedia a ul #socialImage{
   width: 50%;
   margin: 5px 25%;
   height: 32px;
}

footer .desktop .Row2{
   width: 100%;
   height: 60px;
   padding: 15px 0px 0px 0px;
}

footer .desktop .Row2 .column1{
   width: 50%;
  float: left;
}

footer .desktop .Row2 .column1 #copyright{
   width: 8%;
  float: left;
  margin-left: 10%;
  color: #808080;
}

footer .desktop .Row2 .column1 #div{
   width: 6%;
  float: left;
}

footer .desktop .Row2 .column1 #div a{
  color: #3de9e0;
  text-decoration: none;
}

footer .desktop .Row2 .column1 #reserve{
   width: 32%;
  float: left;
  margin-right: 44%;
  color: #808080;
}

footer .desktop .Row2 .column2{
   width: 50%;
  float: left;
}

footer .desktop .Row2 .column2 #designed{
   width: 13%;
  float: left;
  margin-left: 56%;
  color: #808080;
}

footer .desktop .Row2 .column2 #author{
   width: 13%;
  float: left;
}

footer .desktop .Row2 .column2 #author a{
  color: #3de9e0;
  text-decoration: none;
}

footer .desktop .Row2 .column2 #filterBoard{
   width: 12%;
   height: 40px;
  float: left;
  background-color: #080808;
  padding-top: 10px;
  margin-right: 6%;
}

footer .desktop .Row2 .column2 #filterBoard #filter{
   width: 20%;
   margin: 0% 40%;
   height: 20px;
   transform: rotate(-90deg);
}

footer .mobile{
   display: none;
}

}